@charset "UTF-8";
/* todas as demais midias queries */
/* breakpoints
telas pequenas - até 600px
celulares - 600px a 768px
tablets - 769px a 1024px
desktops - 1025px a 1200px
telas grandes - acima de 1200px
*/ 

@media print{
    body{
        background-image: url(../imagens/back-print.jpg);
        /*desnessário para impressão*/
    }
    main  h1{
        font-family: 'Courier New', Courier, monospace;
    }

    main{
        border: 1px solid black;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
}
/*
@media screen and (max-width: 600px){}
@media screen and (min-width: 601px) and (max-width: 768px){ }
*/

@media screen and (min-width:768px) and (max-width: 992px){
    /* estilos para tablets */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 993px) and (max-width: 1200px){
    /* estilos para desktops */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}

@media screen and (min-width: 1201px){
    /* estilos para telas grandes */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
}