@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: lightgray;
}

header{
    background-color: rgb(36, 36, 36);
}
header h1{
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 238, 0);
}

menu{
    display: block;  
}

menu > ul{
    list-style: none;
}

menu  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(72, 72, 72);
    color: white;
    text-align: center;
    border: 2px solid black;
}
menu a:hover{
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 238, 0);
    color: rgb(255, 238, 0);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

article h1{
    text-align: center;
    margin-bottom: 20px;
}

article p{
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 20px;
}