.container{
    display: grid;
    height: 90vh;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: 70px 5% 6fr 1fr;
    border: 2px solid blue;
    gap: 5px;
    background-color: black;
}

.header{
    background-color: blueviolet;
    grid-row: 1 / 2;
    grid-column: 1/ -1;

}

.menu{
    background-color: blue;
    grid-row: 2 / 3;
    grid-column: 1/ -1;

}

.cp{
    background-color: aqua;
     grid-row: 3 / 4;
    grid-column: 1/ 4;

}

.cs{
    background-color: darkseagreen;
     grid-row: 3 / 4;
     grid-column: 4/ 5;
}

.footer{
    background-color: cornflowerblue;
     grid-row: 4 / 5;
     grid-column: 1/ 5;

}